table {
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.hidden-row {
    display: none;
}

.hidden-row td {
    background-color: #f9f9f9;
    padding: 15px;
}

/* Estilo da subtabela */
.subtable {
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
}

.subtable th,
.subtable td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: center;
}