@model UsuarioLogin

<form asp-controller="Home" asp-action="Login" method="post">
    <div class="d-flex align-items-center">
        <input type="email" class="form-control me-2" name="email" placeholder="Digite seu email" asp-for="Email" required/>
        <input type="password" class="form-control me-2" name="senha" placeholder="Senha" asp-for="Senha" required/>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
</form>